<h1 class="text-center"><%= title('Approvals and Denials') %></h1>

<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col" class="col-auto">Type</th>
      <th scope="col" class="col-auto">Description</th>
      <th scope="col" class="col-auto"><%= sort_link(@q, :user_displayname, 'Name') %></th>
      <th scope="col" class="col-auto"><%= sort_link(@q, :role) %></th>
      <th scope="col" class="col-auto"><%= sort_link(@q, :response) %> </th>
      <th scope="col" class="col-auto">Deny reason</th>
      <th scope="col" class="col-2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @approvals.each do |approval| %>
      <tr>
        <td><%= approval.approval_type %></td>
        <td>
          <% if approval.course? %>
            <%= link_to approval.course&.course_title, approval.course %>
            <% elsif approval.goal? %>
            <%= link_to approval.goal&.goal_details, approval.goal %>
            <% elsif approval.proof? %>
            <%= link_to approval.proof&.document.filename, approval.proof %>
            <% else %>
            Unknown
            <% end %>
        </td>
        <td><%= approval.user.displayname %></td>
        <td><%= approval.role.titleize %></td>
        <td><%= approval.response.titleize %></td>
        <td><%= approval.deny_reason || 'n/a' %></td>
        <td>
          <%= link_to 'View', approval, class: 'btn btn-sm btn-outline-primary' %>
          <%= link_to 'Edit', edit_approval_path(approval), class: 'btn btn-sm btn-outline-secondary' %>
          <%= link_to 'Delete', approval, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-warning' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
