<%- title('Approval') %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <%= link_to 'Home', root_path, class: 'li breadcrumb-item' %>
    <%= link_to 'Request Details', @approval.course || @approval.goal, class: 'li breadcrumb-item' %>
    <li class="breadcrumb-item active" aria-current="page">Response Details</li>
  </ol>
</nav>

<h1 class="text-center">Details of Response</h1>

<dl>
  <% if @approval.course_id %>
    <dt>Course:</dt>
    <dd><%= link_to @approval.course.course_title, @approval.course %></dd>
    <dt>Requested By:</dt>
    <dd><%= @approval.course.goal.user.displayname %></dd>
    <% end %>

  <% if @approval.goal_id %>
    <dt>Goal:</dt>
    <dd><%= link_to @approval.goal.goal_details, @approval.goal %></dd>
    <dt>Requested By:</dt>
    <dd><%= @approval.goal.user.displayname %></dd>
    <% end %>

  <dt>Response From:</dt>
  <dd><%= @approval.employee_id? ? @approval&.user.displayname : 'Auto Approval Process' %></dd>
  <dt>Role:</dt>
  <dd><%= @approval.role&.titleize %></dd>
  <dt>Status:</dt>
  <dd><%= @approval.response&.capitalize %></dd>
  <% if @approval.deny_reason %>
    <dt>Deny reason:</dt>
    <dd><%= @approval.deny_reason %></dd>
  <% end %>
</dl>
<%= link_to 'Edit', edit_approval_path(@approval), class: 'btn btn-sm btn-outline-secondary' %>
<%= link_to 'Back', @approval.course, class: 'btn btn-sm btn-outline-primary' %>
