<%- title('Approval') %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <%= link_to 'Home', root_path, class: 'li breadcrumb-item' %>
    <%= link_to 'Request List', courses_path, class: 'li breadcrumb-item' %>
    <%= link_to 'Request Details', @approval.course, class: 'li breadcrumb-item' %>
    <li class="breadcrumb-item active" aria-current="page">Approval Details</li>
  </ol>
</nav>

<h1 class="text-center">Course Approval Details</h1>

<dl>
  <dt>Course:</dt>
  <dd><%= @approval.course_id %></dd>
  <dt>Approved By:</dt>
  <dd><%= @approver.full_name %></dd>
  <dt>Role:</dt>
  <dd><%= @approval.role %></dd>
  <dt>Response:</dt>
  <dd><%= @approval.response %></dd>
  <% unless @approval.deny_reason.blank? %>
    <dt>Deny reason:</dt>
    <dd><%= @approval.deny_reason %></dd>
  <% end %>
</dl>
<%= link_to 'Edit', edit_approval_path(@approval), class: 'btn btn-sm btn-secondary' %> |
<%= link_to 'Back', @approval.course, class: 'btn btn-sm btn-primary' %>
