<%- title('Approval') %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <%= link_to 'Home', root_path, class: 'li breadcrumb-item' %>
    <%= link_to 'Request List', courses_path, class: 'li breadcrumb-item' %>
    <%= link_to 'Request Details', @approval.course, class: 'li breadcrumb-item' %>
    <li class="breadcrumb-item active" aria-current="page">Response Details</li>
  </ol>
</nav>

<h1 class="text-center">Details of Response</h1>

<dl>
  <dt>Course:</dt>
  <dd><%= @approval.course.course_title %></dd>
  <dt>Requested By:</dt>
  <dd><%= @approval.course.user.displayname %></dd>
  <dt>Response From:</dt>
  <dd><%= @approval.user.displayname %></dd>
  <dt>Role:</dt>
  <dd><%= @approval.role&.titleize %></dd>
  <dt>Status:</dt>
  <dd><%= @approval.response&.capitalize %></dd>
  <% if @approval.deny_reason %>
    <dt>Deny reason:</dt>
    <dd><%= @approval.deny_reason %></dd>
  <% end %>
</dl>
<%= link_to 'Edit', edit_approval_path(@approval), class: 'btn btn-sm btn-secondary' %> |
<%= link_to 'Back', @approval.course, class: 'btn btn-sm btn-primary' %>
