<div class="callout-white">
  <h1>Tuition Reimbursement Request Approved</h1>
  <% unless Rails.env.production? %>
    <h2><%= Rails.env.capitalize %> Environment</h2>
  <% end %>
  <h2>Congratulations, your tuition reimbursement application has been approved! </h2>
  <p><strong>Credential/Degree being pursued: </strong> <%= @course.goal&.goal_details %></p>
  <p><strong>Course: </strong> <%= @course.course_short %> - <%= @course.course_title %> for <%= pluralize(@course.credit_hours, 'hour') %> </p>
  <p><strong>Start Date:</strong> <%= @course.start_date.to_s(:fancy) %> &nbsp; <strong> End Date: </strong> <%= @course.end_date.to_s(:fancy) %></p>
  <p><strong>Now that my Tuition Reimbursement Request is approved, WHAT DO I DO NEXT?</strong></p>
  <p>Once you finish your class, upload these required documents in the Tuition Reimbursement application:</p>
  <ul>
    <li>1. OFFICIAL grade proof with your name pre-printed on it (unofficial transcripts are okay for this, but your name or other unique identifier must be pre-printed on each page)</li>
    <li>2. ITEMIZED proof of payment receipts with your name or other unique identifier pre-printed on each page.</li>
  </ul>
  <p>Your payment proof must be itemized in order to be reimbursed for allowable course/registration fees.</p>
  <p>Grade and payment proof MUST have your name or other unique identifier pre-printed on it for it to be considered official, so please do not submit internet print outs for proof of grades or payment unless your name or other unique identifier appears on every page. Copies of these proofs are sufficient for Tuition Reimbursement processing as long as they are legible.</p>
  <h3><%= link_to 'Review and submit your required documentation in the Tuition Reimbursement application.', course_url(@course) %> </h3>
</div>
<style>
  body {
    background-color: #eeeeee;
    color: #2f2f2f;
    font-family: helvetica, verdana, arial, sans-serif;
    margin: 1%;
    padding: 1%;
    font-size: 1em;
    line-height: 1.1em;
  }

  a {
    outline: none;
    padding: 2px 1px 0;
  }

  a:link {
    color: #1f618d;
    font-size: 1.4em;
  }

  a:visited {
    color: #154360;
  }

  a:hover {
    color: #00BFA5;
  }

  p, ol, ul, td li {
    line-height: 1.1;
    font-size: 1em
  }

  h1 {
    font-size: 1.5em;
    color: #007a86;
    text-align: center;
    font-family: "American Typewriter", "Source Code Pro", Monaco, "Courier New", serif;
  }

  h2 {
    font-family: "American Typewriter", "Source Code Pro", Monaco, "Courier New", serif;
    font-weight: 500;
    text-align: center;
    color: #ed8b00
  }

  h3 {
    font-family: "American Typewriter", "Source Code Pro", Monaco, "Courier New", serif;
    text-align: center;
    font-weight: 500;
    font-size: 1em
  }

  table {
    margin: 0 auto;
    border-collapse: collapse;
    border-style: hidden;
    table-layout: auto;
    width: 100%;
  }

  table td, th {
    padding: 1rem;
    border: 2px solid #BCDEE1;
  }

  th {
    font-family: "American Typewriter", "Source Code Pro", Monaco, "Courier New", serif;
    font-weight: normal;
  }

  .callout-white {
    background-color: white;
    margin: 1em;
    padding: 1em;
    border-radius: 2px;
  }

  .cherry {
    color: #BA0C2F;
  }

  a.bare:link {
    text-decoration: none;
  }
</style>
