<div class="callout-white">
  <h1>Tuition Reimbursement Request Approved</h1>
  <h2>Congratulations, your tuition reimbursement application has been approved! </h2>
  <p><strong>Credential/Degree being pursued: </strong> <%= @course.goal&.goal_details %></p>
  <p><strong>Course: </strong> <%= @course.course_short %> - <%= @course.course_title %> for <%= pluralize(@course.credit_hours, 'hour') %> </p>
  <p><strong>Start Date:</strong> <%= @course.start_date.to_s(:fancy) %> &nbsp; <strong> End Date: </strong> <%= @course.end_date.to_s(:fancy) %></p>
  <p><strong>Now that my Tuition Reimbursement Request is approved, WHAT DO I DO NEXT?</strong></p>
  <p>Once you finish your class, upload these required documents in the Tuition Reimbursement application:</p>
  <ul>
    <li>1. OFFICIAL grade proof with your name pre-printed on it (unofficial transcripts are okay for this, but your name or other unique identifier must be pre-printed on each page)</li>
    <li>2. Detailed account summary with names of courses and associated fees, with your name or other unique identifier pre-printed on each page.</li>
  </ul>
  <p>Your payment proof must be itemized in order to be reimbursed for allowable course/registration fees.</p>
  <p>Grade and payment proof MUST have your name or other unique identifier pre-printed on it for it to be considered official, so please do not submit internet print outs for proof of grades or payment unless your name or other unique identifier appears on every page. Copies of these proofs are sufficient for Tuition Reimbursement processing as long as they are legible.</p>
  <h3><strong>Please note that this course approval does not guarantee reimbursement.</strong></h3>
  <h3><%= link_to 'Review and submit your required documentation in the Tuition Reimbursement application.', course_url(@course) %> </h3>
</div>
