<div class="callout-white">
  <h1>Tuition Reimbursement</h1>
  <h2>Your proof document for <%= @course.course_short %> tuition reimbursement was rejected, please review.</h2>
  <p><strong>Credential/Degree being pursued: </strong> <%= @course.goal&.goal_details %></p>
  <p><strong>Course: </strong> <%= @course.course_short %> - <%= @course.course_title %> for <%= pluralize(@course.credit_hours, 'hour') %> </p>
  <p><strong>Start Date:</strong> <%= @course.start_date.to_s(:fancy) %> &nbsp; <strong> End Date: </strong> <%= @course.end_date.to_s(:fancy) %></p>
  <p class="cherry"><strong>REASON FOR DENIAL:</strong> <%= @approval.deny_reason %> </p>
  <p><strong>WHAT DO I DO NOW?</strong></p>
  <p>Please log in to the Tuition Reimbursement application. If you can remedy the above issue, make the needed changes, and re-submit your proof documents.</p>
  <p>Otherwise, please review the request and mark this tuition reimbursement request as "withdrawn" so these credits are not reserved for this course from your annual available credit hours.</p>
  <p>If you have questions on the Tuition Reimbursement program, please review the policy manual and contact UNMH Human Resources at 272-2325 With further questions.</p>

  <h3><%= link_to 'Review your Tuition Reimbursement Request, and withdraw or re-submit your application with changes.', course_url(@course) %> </h3>
</div>
