<div class="callout-white">
  <h1>Tuition Reimbursement Request Approved</h1>
  <p><strong><%= @user.displayname %></strong> has requested tuition reimbursement and needs your approval!  </p>
  <p><strong>Educational goal being pursued: </strong> <%= @course.goal&.goal_details %></p>
  <p><strong>Course: </strong> <%= @course.course_short %> - <%= @course.course_title %> for <%= pluralize(@course.credit_hours, 'credit') %> </p>
  <p><strong>Start Date:</strong> <%= @course.start_date.to_s(:fancy) %> &nbsp; <strong> End Date: </strong> <%= @course.end_date.to_s(:fancy) %></p>
  <h3><%= link_to 'Review and approve this request in the Tuition Reimbursement application.', course_url(@course) %> </h3>

  <p>You received this email because our records list you as the direct manager of <%= @user.displayname %>. If this is incorrect, please contact UNMH Human Resources at 272-2325.</p>
</div>
