<div class="content-fluid">
  <table class="table table-sm table-striped table-hover mx-auto" style="width: 90%" id="user-index">
    <thead class="thead">
      <tr class="table-secondary">
        <th>Name</th>
        <th>Username</th>
        <th>Employer + ID #</th>
        <th>Impersonate</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody id="users-list">
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.displayname, user %></td>
          <td><%= user.username %></td>
          <td><%= user.company %>: <%= user.employee_id %></td>
          <% if current_user == user %>
            <td>(That's you!)</td>
          <% else %>
            <td><%= link_to 'Impersonate', impersonate_user_path(user), method: :post, class: 'btn btn-sm btn-secondary' %></td>
          <% end %>
          <td><%= link_to 'View', user, class: 'btn btn-sm btn-secondary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
