  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <%= link_to 'Home', root_path, class: 'li breadcrumb-item' %>
      <li class="breadcrumb-item active" aria-current="page">User List</li>
    </ol>
  </nav>
  <div class="container">
    <h1 class="text-center mb-3"><%= title('Application Users') %></h1>
    <table class="table table-sm table-hover mx-auto" id="user-index">
      <thead class="thead">
        <tr>
          <th>Name</th>
          <th>Username</th>
          <th>Employer + ID #</th>
          <th>HR</th>
          <th>Manager</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="users-list">
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.displayname, user %></td>
            <td><%= user.username %></td>
            <td><%= user.company %>: <%= user.employee_id %></td>
            <td><%= user.hr_access? %></td>
            <td><%= user.manager_access? %></td>
            <td><%= link_to 'View', user, class: 'btn btn-sm btn-primary' %>
              <% if current_user == user %>
              (That's you!)
            <% elsif current_user.superuser? %>
              <%=  link_to 'Impersonate', user_impersonation_path(username: user.username), method: :post, class: 'btn btn-sm btn-secondary'  %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
