<%= form_with(model: @proof, local: true) do |f| %>
  <%= errors_for(@proof) %>
    <%= f.hidden_field :course_id, class: 'form-control disabled' %>

    <div class="">
      <h2>Course Title: <%= link_to @proof.course.course_title, @proof.course %></h2>

    </div>

    <div class="ml-1">
      <% if @proof.document.blank? %>
        <div class="form-group">
        <h3>Select documentation file:</h3>
        <p>Select one document to upload - multiple documentation files can be created from the Request details page.</p>
        <%= f.file_field :document, class: 'file-input', data: { max_file_size: 5.megabytes, max_files: 1 } %>
          <div>
            <h4 class="mt-2">Type of Documentation:</h4>
            <div class="form-check">
              <%= f.check_box :receipt, class: 'form-check-input' %>
              <%= f.label 'Detailed Account Summary' %>
            </div>
            <div class="form-check">
              <%= f.check_box :grade, class: 'form-check-input' %>
              <%= f.label 'Proof of grade' %>
            </div>
          </div>
        </div>
        <% else %>
          <h3>Attached Documentation:</h3>
          <div class="row">
            <div class="col-5">
              <dt>FILE NAME: </dt>
              <dd><%= @proof.document&.filename %></dd>
              <dt>DATE:</dt>
              <dd><%= @proof.document.created_at.to_s(:date2yr) %></dd>
              <h4>Type of Documentation:</h4>
              <div class="form-check">
                <%= f.check_box :receipt, class: 'form-check-input' %>
                <%= f.label :receipt %>
              </div>
              <div class="form-check">
                <%= f.check_box :grade, class: 'form-check-input' %>
                <%= f.label :grade %>
              </div>
                <h4>Status:</h4>
                <div class="form-group"><%= @proof.status&.capitalize %></div>

              <div class="mb-2">
                <h4>Upload different file:</h4>
                <p>Only one uploaded document per Proof. Selecting a new file will replace the file shown on this page.</p>
                <%= f.file_field :document, class: 'file-input', data: { max_file_size: 5.megabytes, max_files: 1 } %>
              </div>
            </div>
            <% if @proof.document.image? %>
              <div class="col-4 border border-light">
                <dt class="text-center">PREVIEW:</dt>
                <dd class="text-center"><%= image_tag @proof.document, style: 'max-width: -webkit-fill-available' %></dd>
              </div>
            <% end %>
        </div>
          <% end %>

      <div class="form-group">
        <%= f.radio_button(:status, 'pending') %>
        <%= f.label :status, 'Submit for Human Resources Review', value: 'pending' %><br>
        <%= f.radio_button(:status, 'draft') %>
        <%= f.label :status, 'Create as a draft to submit later', value: 'draft' %><br>
      </div>

      <div class="form-group">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
<% end %>
