<%= simple_form_for @credential,
    wrapper: :horizontal_form,
                    wrapper_mappings: {
                      boolean: :horizontal_boolean,
                      check_boxes: :horizontal_collection,
                      radio_buttons: :horizontal_collection,
                    } do |f| %>

  <%= f.error_notification %>

  <%= f.input :name, label: 'Credential Abbreviation', hint: 'Example: M.B.A. or M.D.', required: true %>

  <%= f.input :description, label: 'Credential Full Description', hint: 'Example: Master of Business Administration or Doctor of Medicine', required: true %>

  <%= f.input :degree_id, as: :radio_buttons, collection: Degree.all.pluck(:name, :id), selected: @credential&.degree&.id, label: 'Credential Level', wrapper: :horizontal_collection_inline %>

  <%= f.input :auto_approve, as: :radio_buttons, label: 'Auto Approve Goals with this Credential', required: true %>

  <%= f.submit class: "btn btn-primary mb-2" %>

<!--    <div class="form-group">-->
      <%#= f.label 'Credential Abbreviation' %>
      <%#= f.text_field :name, class: 'form-control' %>
<!--    </div>-->


<!--    <div class="form-group">-->
      <%#= f.label 'Credential Description' %>
      <%#= f.text_field :description, class: 'form-control' %>
<!--    </div>-->

<!--    <div class="form-group">-->
      <%#= f.label :degree %>
      <%#= f.select :degree_id, options_for_select(Degree.all.pluck(:name, :id), selected: @credential.degree.id),  class: 'form-control' %>
<!--    </div>-->

<!--    <div class="form-check">-->
      <%#= f.check_box :auto_approve, class: 'form-check-input' %>
      <%#= f.label 'Auto Approve this Credential' %>
<!--    </div>-->

<!--  <div class="form-group">-->
    <%#= f.submit class: "btn btn-primary" %>
<!--  </div>-->
<% end %>
