<h1 class="text-center"><%= title('Credentials') %></h1>
<table class="table table-hover table-sm mx-auto" style="width: auto">
  <thead>
    <tr>
      <th scope="col"><%= sort_link(@q, :name, 'Credential') %></th>
      <th scope="col"><%= sort_link(@q, :description) %></th>
      <th scope="col"><%= sort_link(@q, :auto_approve) %></th>
      <th scope="col"><%= sort_link(@q, :degree_name, 'Degree') %></th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @credentials.each do |credential| %>
      <tr>
        <td><%= credential.name %></td>
        <td><%= credential.description %></td>
        <td><%= credential.auto_approve? ? 'Yes' : 'No' %></td>
        <td><%= credential.degree.name %></td>
        <td><%= link_to 'Show', credential, class: 'btn btn-sm btn-outline-primary' %>
          <%= link_to 'Edit', edit_credential_path(credential), class: 'btn btn-sm btn-outline-secondary' %>
        </td>
<!--        <td><%#= link_to 'Destroy', credential, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Credential', new_credential_path %>
