<h1><%= title('Credentials') %></h1>

<table class="table table-striped table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Credential</th>
      <th scope="col">Description</th>
      <th scope="col">Auto approve</th>
      <th scope="col">Degree</th>
      <th colspan="3" scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @credentials.each do |credential| %>
      <tr>
        <td><%= credential.credential %></td>
        <td><%= credential.description %></td>
        <td><%= credential.auto_approve %></td>
        <td><%= credential.degree_id %></td>
        <td><%= link_to 'Show', credential %></td>
        <td><%= link_to 'Edit', edit_credential_path(credential) %></td>
        <td><%= link_to 'Destroy', credential, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Credential', new_credential_path %>
