<%= form_with(model: @course, local: true) do |f| %>
  <%= errors_for(@course) %>

      <div class="form-group">
        <%= f.hidden_field :employee_id, class: 'form-control' %>
      </div>


    <div class="form-group">
      <%= f.label :start_date %>
      <%= f.date_select :start_date, class: 'form-control' %>
    </div>


    <div class="form-group">
      <%= f.label :end_date %>
      <%= f.date_select :end_date, class: 'form-control' %>
    </div>


    <div class="form-group">
      <%= f.label :course_title %>
      <%= f.text_field :course_title, class: 'form-control' %>
    </div>


    <div class="form-group">
      <%= f.label :course_short %>
      <%= f.text_field :course_short, class: 'form-control' %>
    </div>


    <div class="form-group">
      <%= f.label :credit_hours %>
      <%= f.number_field :credit_hours, class: 'form-control' %>
    </div>


    <div class="form-group">
      <%= f.label :cost %>
      <%= f.text_field :cost, class: 'form-control' %>
    </div>

  <div class="form-group">
    <%= f.submit 'Create Request', class: "btn btn-primary" %>
  </div>
<% end %>
