<%= form_with(model: @course, local: true) do |f| %>
  <%= errors_for(@course) %>

    <div class="form-group">
      <%= f.hidden_field :user_id, class: 'form-control' %>
      <%= f.hidden_field :employee_id, class: 'form-control' %>
      <%= f.hidden_field :status, class: 'form-control' %>
    </div>

    <div class="form-group row">
      <%= f.label 'Educational Goal', class: 'col-sm-2 col-form-label' %>
      <div class="col-auto align-self-center">
        <% @goal.each do |goal| %>
          <%= f.radio_button(:goal_id, goal.id) %> <%= goal.credential.name %> - <%= goal.credential.description %> from <%= goal.school.name %> <br>
          <% end %>
      </div>
    </div>


    <div class="form-group row">
      <%= f.label :start_date, class: 'col-sm-2 col-form-label' %>
      <div class="col-auto align-self-center">
        <%= f.date_select :start_date, order: [:month, :day, :year], min: Date.today, start_year: Date.current.year, end_year: Date.current.year + 1, default: { month: Date.current.month + 1, day: 1}, class: 'form-control'  %>
      </div>
      <div class="col-sm-4 text-left form-text text-muted align-self-center">Start date cannot be before today's date.</div>
    </div>


    <div class="form-group row">
      <%= f.label :end_date, class: 'col-sm-2 col-form-label' %>
      <div class="col-auto align-self-center">
        <%= f.date_select :end_date, order: [:month, :day, :year], start_year: Date.current.year, end_year: Date.current.year + 1, default: { month: Date.current.month + 3, day: 1}, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :course_title, class: 'col-sm-2 required col-form-label required has-danger' %>
      <%= f.text_field :course_title, required: true, class: 'col-sm-6 form-control' %>
      <div class="invalid-feedback" id="error_explanation">Must provide course title, such as: Professional Communication for Nurses.</div>
    </div>

    <div class="form-group row">
      <%= f.label :course_short, 'Course ID', class: 'col-sm-2 required col-form-label' %>
      <%= f.text_field :course_short, required: true, class: 'col-sm-2 form-control' %>
      <div class="col-sm-8 text-left form-text text-muted">Course ID is a 3-4 letter program or subject abbreviation and a 3-digit number, such as  NURS 241 or COMM 304.</div>
      <div class="invalid-feedback" id="error_explanation">Must provide short identifier, normally an abbreviated subject and a 3-digit number, such as  like NURS 241 or COMM 304.</div>
    </div>

    <div class="form-group row">
      <%= f.label :credit_hours, class: 'col-sm-2 required col-form-label' %>
      <%= f.number_field :credit_hours, required: true, max: 4, class: 'col-sm-2 form-control' %>
      <div class="invalid-feedback" id="error_explanation">Maximum of 4 credit hours per course.</div>
    </div>

    <div class="form-group row">
      <%= f.label :cost, class: 'col-sm-2 required col-form-label' %>
      <div class="input-group col-sm-3 pl-0 pr-0">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
          <%= f.number_field :cost, required: true, step: 0.01, class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-7 text-left form-text text-muted align-self-center">Note: maximum reimbursement capped at UNM's current credit hour rate.</div>
    </div>
<div class="h5 text-center">
  Creating this request is an agreement to the conditions and requirements of <a href="https://unmh.policymedical.net/" target="_blank" class="text-primary">HR Policy 370: Tuition Reimbursement on the Policies & Procedures site</a>. Actual reimbursement to you may be less than your tuition cost.
</div>

  <div class="form-group">
    <%= f.submit 'Submit', class: "btn btn-primary" %>
  </div>
<% end %>
