<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <%= link_to 'Home', root_path, class: 'li breadcrumb-item' %>
    <%= link_to 'Request List', courses_path, class: 'li breadcrumb-item' %>
    <li class="breadcrumb-item active" aria-current="page">Request Details</li>
  </ol>
</nav>
<div class="ml-5" id="new_form">
  <h1><%= title('Editing Course') %></h1>
  <%= render 'form', course: @course %>

  <%= link_to 'Show', @course, class: 'btn btn-sm btn-outline-primary' %>
  <%= link_to 'Back', courses_path, class: 'btn btn-sm btn-outline-secondary' %>
</div>
