<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <%= link_to 'Home', root_path, class: 'li breadcrumb-item' %>
    <li class="breadcrumb-item active" aria-current="page">Request List</li>
  </ol>
</nav>

<h1 class="text-center mb-3"><%= title('Tuition Reimbursement Requests') %></h1>
<table class="table table-sm table-hover mx-auto">
  <thead class="thead">
  <tr>
    <th scope="col" class="col-auto"><%= sort_link(@q, :user_displayname, 'Name') %></th>
    <th scope="col" class="col-auto">Course Title</th>
    <th scope="col" class="col-auto d-sm-none d-md-block"><%= sort_link(@q, :course_short, 'ID') %></th>
    <th scope="col" class="col-auto"><%= sort_link(@q, :updated_at, 'Updated') %></th>
    <th scope="col" class="col-auto"><%= sort_link(@q, :start_date, 'Starts', class: 'col') %></th>
    <th scope="col" class="col-auto"><%= sort_link(@q, :end_date, 'Ends', class: 'col text-right') %></th>
    <th scope="col" class="col-auto d-sm-none d-md-block">Cost</th>
    <th scope="col" class="col-auto"><%= sort_link(@q, :status) %></th>
    <th scope="col" class="col-auto">Actions</th>
  </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.user.displayname, course.user  %></td>
        <td><%= link_to course.course_title, course %></td>
        <td class="d-sm-none d-md-block"><%= course.course_short %></td>
        <td><%= time_ago_in_words(course.updated_at) %> ago</td>
        <td><%= course.start_date.to_s(:date2yr) %></td>
        <td><%= course.end_date.to_s(:date2yr) %></td>
        <td class="d-sm-none d-md-block"><%= number_to_currency(course.cost) %></td>
        <td><%= course.status&.capitalize %></td>
        <td class="btn-group">
          <%= link_to 'View', course, class:"btn btn-sm btn-outline-primary mr-1" %>
          <% if course.employee_id == current_user.employee_id || current_user.superuser? %>
            <%= link_to 'Edit', edit_course_path(course), class:"btn btn-sm btn-outline-secondary mr-1" %>
            <% if course.status == 'draft' %>
              <%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-outline-warning" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!-- <%= link_to 'New Course', new_course_path %> -->
