<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <%= link_to 'Home', root_path, class: 'li breadcrumb-item' %>
    <li class="breadcrumb-item active" aria-current="page">Request List</li>
  </ol>
</nav>

<h1 class="text-center mb-3"><%= title('Tuition Reimbursement Requests') %></h1>
<table class="table table-sm table-hover mx-auto">
  <thead class="thead">
  <tr>
    <th scope="col" class="col-auto">Employee</th>
    <th scope="col" class="col-auto">Course Title</th>
    <th scope="col" class="col-auto">ID</th>
    <th scope="col" class="col-auto">Updated</th>
    <th scope="col" class="col-auto">Dates</th>
    <th scope="col" class="col-auto">Cost</th>
    <th scope="col" class="col-auto">Status</th>
    <th scope="col" class="col-auto">Actions</th>
  </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.user.displayname, course.user  %></td>
        <td><%= link_to course.course_title, course %></td>
        <td><%= course.course_short %></td>
        <td><%= time_ago_in_words(course.updated_at) %> ago</td>
        <td><%= course.start_date.to_s(:date2yr) %> - <%= course.end_date.to_s(:date2yr)%></td>
        <td><%= number_to_currency(course.cost) %></td>
        <td><%= course.status&.capitalize %></td>
        <td>
          <%= link_to 'View', course, class:"btn btn-sm btn-outline-primary" %>
          <% if course.employee_id == current_user.employee_id || current_user.superuser? %>
            <%= link_to 'Edit', edit_course_path(course), class:"btn btn-sm btn-outline-secondary" %>
            <% if course.status == 'draft' %>
              <%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-outline-warning" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!-- <%= link_to 'New Course', new_course_path %> -->
