<%- title('Course') %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <%= link_to 'Home', root_path, class: 'li breadcrumb-item' %>
    <%= link_to 'Request List', courses_path, class: 'li breadcrumb-item' %>
    <li class="breadcrumb-item active" aria-current="page">Request Details</li>
  </ol>
</nav>
<h1 class="text-center pb-1">Tuition Reimbursement Request</h1>
<div class="container">
  <dl class="row justify-content-center">
    <dt class="col-sm-3 offset-sm-3">From Employee:</dt>
    <dd class="col-sm-6"><%= link_to @course.user.displayname, user_path(@course.user) %> </dd>
    <dt class="col-sm-3 offset-sm-3">Status of Request:</dt>
    <dd class="col-sm-6"><%= @course.status&.titleize %></dd>
    <dt class="col-sm-3 offset-sm-3">Course title:</dt>
    <dd class="col-sm-6"><%= @course.course_title %></dd>
    <dt class="col-sm-3 offset-sm-3">Course Identifier:</dt>
    <dd class="col-sm-6"><%= @course.course_short %></dd>
    <dt class="col-sm-3 offset-sm-3">Credential - Program</dt>
    <dd class="col-sm-6"><%= @course.credential&.name %> - <%= @course.credential&.description %></dd>
    <dt class="col-sm-3 offset-sm-3">Credit hours:</dt>
    <dd class="col-sm-6"><%= @course.credit_hours %></dd>
    <dt class="col-sm-3 offset-sm-3">Estimated Start date:</dt>
    <dd class="col-sm-6"><%= @course.start_date.to_s(:fancy) %></dd>
    <dt class="col-sm-3 offset-sm-3">Estimated End date:</dt>
    <dd class="col-sm-6"><%= @course.end_date.to_s(:fancy) %></dd>
    <dt class="col-sm-3 offset-sm-3">Estimated Cost:</dt>
    <dd class="col-sm-6"><%= number_to_currency(@course.cost) %></dd>
    <dt class="col-sm-3 offset-sm-3">Request Created On:</dt>
    <dd class="col-sm-6"><%= @course.created_at.to_s(:datetime) %></dd>
    <dt class="col-sm-3 offset-sm-3">Last Updated On:</dt>
    <dd class="col-sm-6"><%= @course.updated_at.to_s(:datetime) %></dd>
  </dl>
</div>
<div class="row justify-content-center">
  <div class="col-auto">
    <div class="btn-group">
      <%= link_to 'Edit', edit_course_path(@course), class: 'btn btn-sm btn-secondary mr-2' %>
      <%= link_to 'Submit Application', submit_path(@course),  class: 'btn btn-sm btn-secondary' %>
    </div>
  </div>
</div>

<hr>

<h3 class="text-center mt-2">Approvals / Denials</h3>
<div class="row">
  <div class="col-6 text-right">
    <div class="btn-group">
      <%= button_to 'Approve Request (Manager)', approvals_path,  params: {approval: {course_id: @course.id, employee_id: current_user.employee_id, response: "approved", role: "manager"}}, method: :post, class: "btn btn-sm btn-primary mr-1" %>
      <%= button_to 'Approve Request (HR)', approvals_path,  params: {approval: {course_id: @course.id, employee_id: current_user.employee_id, response: "approved", role: "human_resources"}}, method: :post, class: "btn btn-sm btn-primary" %>
    </div>
  </div>
  <div class="col-6">
    <%= link_to 'Deny Request (Manager)', new_approval_path(course_id: @course.id, employee_id: current_user.employee_id, response: "denied", role: "manager"), class: "btn btn-sm btn-warning" %>
    <%= link_to 'Deny Request (HR)', new_approval_path(course_id: @course.id, employee_id: current_user.employee_id, response: "denied", role: "human_resources"), class: "btn btn-sm btn-warning" %>
  </div>
</div>


<% if @course.approvals.blank? %>
  <p class="text-center mt-2">No approvals or denials logged yet.</p>
  <% else %>
  <table class="table table-sm table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Employee</th>
        <th scope="col">Role</th>
        <th scope="col">Response</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @course.approvals.each do |approval| %>
        <tr>
          <td><%= approval.created_at.to_s(:datetime) %></td>
          <td><%= approval.user.displayname %></td>
          <td><%= approval.role&.titleize %></td>
          <td><%= approval.response.titleize %>
            <% if approval.deny_reason %>
              - <%= approval.deny_reason %>
              <% end %>
          </td>
          <td>
            <%= link_to 'Show', approval, class: 'btn btn-sm btn-outline-primary' %>
            <%= link_to 'Edit', edit_approval_path(approval), class: 'btn btn-sm btn-outline-secondary' %>
            <%= link_to 'Delete', approval, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-warning' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
<hr>
<h3 class="text-center pt-3">Documentation</h3>
<div class="row">
  <div class="text-right col-lg-8 col-sm-auto">
    <p>Employee documentation of proof of payment and proof of grade</p>
  </div>
  <div class="col col-5-lg text-right">
    <%= link_to '+ Add Proof Document', new_proof_path(course_id: @course.id), class: "btn btn-sm btn-primary" %>
  </div>
</div>
<% if @course.proofs %>
  <table class="table table-sm table-hover table-sm">
    <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">File Name</th>
      <th scope="col">Date</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @course.proofs.each do |proof| %>
      <tr>
        <td>
          <% if proof.receipt? && proof.grade? %>
            Receipt & Grade
            <% elsif proof.receipt? %>
          Receipt
            <% elsif proof.grade? %>
          Grade
            <% else %>
          Unknown
            <% end %>
            </td>
        <td>
          <% if proof.document.attached? %>
            <%= proof.document.filename %>
          <% end %>
        </td>
        <td> <%= proof.created_at.to_s(:datetime) %></td>
        <td>
          <%= link_to 'Show', proof, class: 'btn btn-sm btn-outline-primary' %>
          <%= link_to 'Edit', edit_proof_path(proof), class: 'btn btn-sm btn-outline-secondary' %>
          <%= link_to 'Delete', proof, class: 'btn btn-sm btn-outline-warning', method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
