<%= form_with(model: @goal, local: true) do |f| %>
  <%= errors_for(@goal) %>

     <%= f.hidden_field :active, class: 'form-check-input' %>

    <div class="form-group">
      <%= f.label :user %>
      <%= f.text_field :user_id, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :school %>
      <%= f.collection_select :school_id, School.all, :id, :name %>
    </div>

    <div class="form-group">
      <%= f.label :credential %>
      <%= f.collection_select :credential_id, Credential.all, :id, :description %>
    </div>

    <div class="form-group">
      <%= f.label 'Program / Focus / Major / Field of Study' %>
      <%= f.text_field :focus, class: 'form-control' %>
    </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
