<%= form_with(model: @goal, local: true) do |f| %>
  <%= errors_for(@goal) %>
    <div class="form-group">
      <%= f.hidden_field :user_id, class: 'form-control' %>
    </div>

  <% if goal.id? %>
    <div class="form-group">
      <%= f.radio_button(:active, true) %>
      <%= f.label :active, 'Active', value: true %><br>
      <%= f.radio_button(:active, false) %>
      <%= f.label :active, 'Inactive', value: false %>
    </div>
    <% end %>

    <div class="form-group">
      <%= f.label 'University or College', class: 'required col-form-label has-danger' %>
      <%= f.hidden_field :school_id %>
      <%= f.text_field :school, minLength: 3, data: { 'afterselect' => 'addSchoolToApplication', 'source-query'=> autocomplete_schools_path, provide: 'typeahead', 'field-id' => 'goal_school_id' }, autocomplete: 'off', class: 'form-control', placeholder: 'Type in Institution Name', required: true %>
      <div class="invalid-feedback" id="error_explanation">Must provide name of an accredited educational institution, such as: University of New Mexico - Main Campus.</div>
    </div>


    <div class="form-group">
      <%= f.label 'Degree level' %>
      <%= f.select :degree_id, Degree.all.collect { |degree|
        [degree.name.titleize, degree.id] }, {}, id: 'degrees_select' %> <br>
      <%= f.label 'Select the specific Credential' %>
      <%= f.select :credential_id, Credential.where(degree_id: @goal.degree_id).collect { |credential| [credential.full_info, credential.id] }, {}, id: 'credentials_select', required: true %>
    </div>

    <div class="form-group">
      <%= f.label 'Program / Focus / Major / Field of Study - required for some educational programs' %>
      <%= f.text_field :focus, class: 'form-control' %>
    </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-secondary" %>
  </div>
<% end %>


<script>
  function addSchoolToApplication(e){
    $.post( "/autocomplete/create_school/" + e, function( data ) {
      $('#goal_school_id').val(data.id);
    })
    .fail(function(){
      $('#goal_school_id').val('');
    })
  }
</script>
