<h1><%= title('Goals') %></h1>

<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col"><%= sort_link(@q, :user_displayname, 'Name') %></th>
      <th scope="col"><%= sort_link(@q, :school_name, 'Institution') %></th>
      <th scope="col"><%= sort_link(@q, :credential_name, 'Credential') %> - <%= sort_link(@q, :credential_description, 'Description') %></th>
      <th scope="col">Focus</th>
      <th scope="col">Active</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= link_to goal.user.displayname, goal.user %></td>
        <td><%= goal.school.name %></td>
        <td><%= goal.credential&.name %> - <%= goal.credential&.description %></td>
        <td><%= goal.focus %></td>
        <td><%= goal.active? ? 'Yes' : 'No' %></td>
        <td class="btn-group">
          <%= link_to 'Show', goal, class: 'btn btn-sm btn-primary mr-1' %>
          <%= link_to 'Edit', edit_goal_path(goal), class: 'btn btn-sm btn-secondary' %>
          <%= link_to 'Delete', goal, method: :delete, class: 'btn btn-sm btn-warning ml-1', data: { confirm: 'Are you sure you want to delete this goal permanently?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Goal', new_goal_path %>
