<%- title('Goal') %>
<div class="container">
  <h2 class="text-center">Educational Goal for <%= link_to @goal.user.displayname, @goal.user %></span></h2>
  <% if @goal.active? %>
    <h4 class="text-success text-center">Active Goal</h4>
  <% else %>
    <h4 class="text-danger text-center">Inactive Goal</h4>
  <% end %>
  <dl class='row justify-content-center'>
    <dt class="col-sm-2 offset-sm-3">Degree:</dt>
    <dd class="col-sm-6"><%= @goal.credential&.name %> - <%= @goal.credential&.description %></dd>
    <dt class="col-sm-2 offset-sm-3">Focus:</dt>
    <dd class="col-sm-6"><%= @goal.focus %></dd>
    <dt class="col-sm-2 offset-sm-3">School:</dt>
    <dd class="col-sm-6"><%= @goal.school.name %></dd>

  </dl>
  <div class="text-center">
    <%= link_to 'Edit', edit_goal_path(@goal), class: 'btn btn-sm btn-outline-secondary' %>
    <%= link_to 'Back', user_path(@goal.user), class: 'btn btn-sm btn-outline-primary' %>
  </div>
</div>
