
<%= simple_form_for(@reimbursement) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.hidden_field :course_id %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :payee %>
    <%= f.hidden_field :created_by %>
    <%= f.input :reviewed_by, as: :string %>
    <%= f.input :grade_met %>
    <%= f.input :credits_approved %>
    <%= f.input :amount %>
    <%= f.input :fiscal_year %>
    <%= f.hidden_field :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
